<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout/adminLayout" lang="zh">
<head>
    <title>服务机构信息查询</title>
</head>
<body>
<div layout:fragment="content">
    <div class="condition-container">
        <el-form :inline="true" :model="condition">
            <el-form-item label="地区">
                <el-input v-model="condition.test1" size="small"></el-input>
            </el-form-item>
            <el-form-item label="平台名称">
                <el-select v-model="condition.test2" size="small">
                    <el-option label="滴滴" value="didi"></el-option>
                    <el-option label="优步" value="uber"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button size="small" type="primary">查询</el-button>
            </el-form-item>
        </el-form>
    </div>
    <div>
        <el-table size="small"
                  :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column v-for="(column,index) in tableColumn" :key="index"
                             :prop="column.name" :label="column.label"
                             :width="column.width < 1?'':(column.width + 'px')"
            >
            </el-table-column>
            <el-table-column width="60px" label="详情" align="center" @sort-change="handelSortChange">
                <template slot-scope="scope">
                    <el-button
                            size="mini" icon="el-icon-edit" circle type="primary"
                            @click="handleDetail(scope.$index, scope.row)" title="详情">
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background
                           @size-change="handleSizeChange"
                           @current-change="handleCurrentChange"
                           :current-page="page.currentPage"
                           :page-sizes="[10, 20,30, 50]"
                           :page-size="page.size"
                           :page-count="page.totalPages"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="page.totalElements">
            </el-pagination>
        </div>
    </div>
    <el-dialog top="10vh"
               title="服务机构详情"
               :visible.sync="dialogVisible"
               width="80%">
        <div class="dialog-content" v-if="selected">
            <el-tabs type="card" v-if="selected" value="A">
                <el-tab-pane label="基本信息" name="A">
                    <info-table :cols="2" :items="serviceInfo.base"></info-table>
                </el-tab-pane>
                <el-tab-pane label="运营规模信息" name="B" :disabled="!serviceInfo.stat">
                    <info-table :cols="2" :items="serviceInfo.stat"></info-table>
                </el-tab-pane>
                <el-tab-pane label="支付信息" name="C" :disabled="!serviceInfo.pay">
                    <info-table :cols="2" :items="serviceInfo.pay"></info-table>
                </el-tab-pane>
                <el-tab-pane label="服务机构" name="D" :disabled="!serviceInfo.service">
                    <info-table :cols="2" :items="serviceInfo.service"></info-table>
                </el-tab-pane>
                <el-tab-pane label="经营许可" name="E" :disabled="!serviceInfo.permit">
                    <info-table :cols="2" :items="serviceInfo.permit"></info-table>
                </el-tab-pane>
                <el-tab-pane label="运价信息" name="F" :disabled="!serviceInfo.fare">
                    <info-table :cols="2" :items="serviceInfo.fare"></info-table>
                </el-tab-pane>
            </el-tabs>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" size="small" @click="dialogVisible = false">确 定</el-button>
        </span>
    </el-dialog>
</div>
</body>
<th:block layout:fragment="body-script">
    <script th:src="@{/component/info-table.js}"></script>
    <script th:src="@{/js/car/basic/service-info.js}"></script>
</th:block>
</html>
